@use './mixin';
@use './variables' as var;

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .headerLogo {
    width: 100%;
    display: flex;
    justify-content: center;

    img {
      width: 150px;
      margin: 20px 0;
    }
  }

  .wrapCity {
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 600;
    gap: 10px;
    width: 100%;
    padding: 10px 0;

    background-color: #f5f3f3;
    box-shadow: inset 0px 5px 9px 1px rgba(0, 0, 0, 0.1);
  }
}

.content {
  margin: 0 10%;

  @media (max-width: 1000px) {
    margin: 0;
  }

  h2 {
    font-size: 1.25rem;
  }

  .headDescription {
    padding: 20px;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;

    button {
      @include mixin.mainButton;
    }

    @media (max-width: 1000px) {
      background-color: var.$lightGrey;
      padding-bottom: 3rem;
      margin-bottom: 3rem;
    }
  }

  .headMenu {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    @media (max-width: 1000px) {
      margin: 0 8%;
      margin-bottom: 4rem;
    }

    h2 {
      margin-bottom: 20px;
    }

    .wrapMenuItems {
      display: flex;
      flex-direction: column;

      gap: 20px;
      justify-content: space-around;
      align-items: center;

      .menuItem {
        display: flex;

        align-items: center;

        width: 100%;

        background-color: var.$grey;
        box-shadow: 0px 0px 10px -5px #000000;

        padding: 10px;
        border-radius: 15px;

        transition: ease-in-out 0.3s;

        i,
        p {
          margin-left: 10px;
        }

        span {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;

          background-color: var.$primary;

          height: 25px;
          width: 25px;
          border-radius: 50%;
          left: -20px;
        }

        &:hover {
          transform: scale(1.02);
          .fa-solid {
            color: #9356dc;
          }
        }
      }

      @media (min-width: 1000px) {
        flex-direction: row;
      }
    }
  }

  .restaurants {
    display: flex;
    flex-direction: column;

    @media (max-width: 1000px) {
      background-color: var.$lightGrey;
      padding: 3rem 0;
    }

    h2 {
      margin-bottom: 20px;

      @media (max-width: 1000px) {
        margin-left: 5%;
      }
    }

    .wrapCards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-direction: column;
      gap: 5px;

      .new {
        position: relative;

        &::before {
          position: absolute;
          content: 'Nouveau';
          background-color: var.$turquoise;
          right: 1rem;
          top: 1rem;
          padding: 0.5rem;
          border-radius: 3px;
          color: darken(var.$turquoise, 50%);
        }
      }

      .card {
        display: flex;
        flex-direction: column;
        gap: 5px;

        width: 100%;
        margin-bottom: 20px;
        border-radius: 15px;

        background-color: var.$grey;
        @include mixin.boxShadow;
        transition: ease-in-out 0.3s;

        &:hover {
          transform: scale(1.02);
        }

        img {
          border-radius: 15px 15px 0 0;
          object-fit: cover;
          height: 200px;
        }

        .cardDescription {
          display: flex;
          justify-content: space-between;
          position: relative;

          margin: 10px 10px;

          .cardText {
            display: flex;
            flex-direction: column;
            gap: 5px;

            h3 {
              font-size: 1.1rem;
            }

            p {
              font-size: 0.9rem;
            }
          }

          i {
            font-size: 2rem;
          }

          .fa-solid {
            @include mixin.heartHover;
          }
        }

        @media (min-width: 1000px) {
          width: 48%;
        }
      }

      @media (min-width: 1000px) {
        flex-direction: row;
      }

      @media (max-width: 1000px) {
        margin: 0 5%;
      }
    }
  }
}
