@mixin mainButton {
  font-weight: 700;
  padding: 12px 20px;
  margin-top: 10px;
  border-radius: 20px;
  border: 0;
  width: fit-content;
  align-self: center;

  transition: ease-in-out 0.2s;
  cursor: pointer;

  box-shadow: 0px 0px 10px -2px #000000;
  color: #fff;
  background: linear-gradient(to bottom, $secondary 5%, $primary 100%);

  &:hover {
    transform: scale(1.05);
  }
}
