$purple: #db43a3;
$darkPurple: #ab2178;
$grey: #e8edea;
$darkGrey: #c6d2cb;
$black: #353535;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    width: 150px;
    margin: 20px 0;
  }

  .wrapCity {
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 600;
    gap: 10px;
    width: 100%;
    padding: 10px 0;
    background-color: $grey;
    box-shadow: inset 0px 0px 12px -10px #000000;
  }
}

.content {
  margin: 0 10%;

  h2 {
    font-size: 1.25rem;
  }

  .headDescription {
    margin: 15px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    button {
      font-weight: 700;
      padding: 10px;
      border-radius: 20px;
      border: 0;

      transition: ease-in-out 0.2s;
      cursor: pointer;

      box-shadow: 0px 0px 10px -2px #000000;
      color: #fff;
      background: rgb(54, 39, 48);
      background: linear-gradient(
        0deg,
        rgb(95, 23, 66) 17%,
        rgb(214, 61, 158) 60%
      );
    }

    button:hover {
      transform: scale(1.03);
    }
  }

  .headMenu {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    h2 {
      margin-bottom: 20px;
    }

    .wrapMenuItems {
      display: flex;
      gap: 20px;
      justify-content: space-around;
      align-items: center;

      .menuItem {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 30%;

        background-color: $grey;
        box-shadow: 0px 0px 10px -5px #000000;

        padding: 10px;
        border-radius: 15px;

        i,
        p {
          margin-left: 10px;
        }

        span {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;

          background-color: $purple;

          height: 25px;
          width: 25px;
          border-radius: 50%;
        }
      }
    }
  }

  .restaurants {
    display: flex;
    flex-direction: column;

    h2 {
      margin-bottom: 20px;
    }

    .wrapCards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 5px;

      .card {
        display: flex;
        flex-direction: column;
        gap: 5px;

        width: 48%;
        margin-bottom: 20px;
        border-radius: 15px;

        background-color: $grey;
        box-shadow: 0px 0px 10px -5px #000000;
        transition: ease-in-out 0.3s;

        img {
          border-radius: 15px 15px 0 0;
          object-fit: cover;
          height: 200px;
        }

        .cardDescription {
          display: flex;
          justify-content: space-between;

          margin: 10px 10px;

          .cardText {
            display: flex;
            flex-direction: column;
            gap: 5px;

            h3 {
              font-size: 1.1rem;
            }

            p {
              font-size: 0.9rem;
            }
          }

          i {
            font-size: 2rem;
          }
        }
      }

      .card:hover {
        transform: scale(1.02);
      }
    }
  }
}

footer {
  background-color: $black;
  color: #fff;

  margin-top: 20px;
  padding-bottom: 15px;

  img,
  .wrapFooterItems {
    margin: 0 10%;
  }

  img {
    padding: 15px 5px;
  }

  .wrapFooterItems {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .footerItem {
      display: flex;
      align-items: center;
      gap: 5px;
      transform: translate(20px);
      width: fit-content;

      -webkit-transition: color 0.3s;
      transition: color 0.3s;

      i {
        position: absolute;
        left: -25px;
        font-size: 0.9rem;
      }

      p {
        font-size: 0.9rem;
      }
    }

    .footerItem:hover {
      cursor: pointer;
      color: $purple;
    }
  }
}

//*******************! media queries *******************
