@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

footer {
  background-color: #353535;
  color: #fff;
  margin-top: 20px;
  padding-bottom: 15px;
}
footer img,
footer .wrapFooterItems {
  margin: 0 10%;
}
footer img {
  padding: 15px 5px;
}
footer .wrapFooterItems {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .wrapFooterItems .footerItem {
  display: flex;
  align-items: center;
  gap: 5px;
  transform: translate(20px);
  width: fit-content;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
footer .wrapFooterItems .footerItem i {
  position: absolute;
  left: -25px;
  font-size: 0.9rem;
}
footer .wrapFooterItems .footerItem p {
  font-size: 0.9rem;
}
footer .wrapFooterItems .footerItem:hover {
  cursor: pointer;
  color: #ff79da;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header .headerLogo {
  width: 100%;
  display: flex;
  justify-content: center;
}
header .headerLogo img {
  width: 150px;
  margin: 20px 0;
}
header .wrapCity {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  gap: 10px;
  width: 100%;
  padding: 10px 0;
  background-color: #f5f3f3;
  box-shadow: inset 0px 5px 9px 1px rgba(0, 0, 0, 0.1);
}

.content {
  margin: 0 10%;
}
.content h2 {
  font-size: 1.25rem;
}
.content .headDescription {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.content .headDescription button {
  font-weight: 700;
  padding: 10px;
  border-radius: 20px;
  border: 0;
  transition: ease-in-out 0.2s;
  cursor: pointer;
  box-shadow: 0px 0px 10px -2px #000000;
  color: #fff;
  background: linear-gradient(to bottom, #ff79da 5%, #9356dc 100%);
}
.content .headDescription button:hover {
  transform: scale(1.05);
}
.content .headMenu {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.content .headMenu h2 {
  margin-bottom: 20px;
}
.content .headMenu .wrapMenuItems {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
}
.content .headMenu .wrapMenuItems .menuItem {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #e8edea;
  box-shadow: 0px 0px 10px -5px #000000;
  padding: 10px;
  border-radius: 15px;
  transition: ease-in-out 0.3s;
}
.content .headMenu .wrapMenuItems .menuItem i,
.content .headMenu .wrapMenuItems .menuItem p {
  margin-left: 10px;
}
.content .headMenu .wrapMenuItems .menuItem span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356dc;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  left: -20px;
}
.content .headMenu .wrapMenuItems .menuItem:hover {
  transform: scale(1.02);
}
.content .headMenu .wrapMenuItems .menuItem:hover .fa-solid {
  color: #9356dc;
}
@media (min-width: 1000px) {
  .content .headMenu .wrapMenuItems {
    flex-direction: row;
  }
}
.content .restaurants {
  display: flex;
  flex-direction: column;
}
.content .restaurants h2 {
  margin-bottom: 20px;
}
.content .restaurants .wrapCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  gap: 5px;
}
.content .restaurants .wrapCards .card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 15px;
  background-color: #e8edea;
  box-shadow: 0px 0px 10px -5px #000000;
  transition: ease-in-out 0.3s;
}
.content .restaurants .wrapCards .card img {
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  height: 200px;
}
.content .restaurants .wrapCards .card .cardDescription {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 10px 10px;
}
.content .restaurants .wrapCards .card .cardDescription .cardText {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.content .restaurants .wrapCards .card .cardDescription .cardText h3 {
  font-size: 1.1rem;
}
.content .restaurants .wrapCards .card .cardDescription .cardText p {
  font-size: 0.9rem;
}
.content .restaurants .wrapCards .card .cardDescription i {
  font-size: 2rem;
}
.content .restaurants .wrapCards .card .cardDescription .fa-solid {
  position: absolute;
  right: 0;
  opacity: 0;
  color: transparent;
  transition: ease-in-out 0.3s;
  transform: scale(1.1);
  background: radial-gradient(circle, #9356dc 0%, #ff79da 100%);
  -webkit-background-clip: text;
  background-clip: text;
}
.content .restaurants .wrapCards .card .cardDescription .fa-solid:hover {
  opacity: 1;
}
@media (min-width: 1000px) {
  .content .restaurants .wrapCards .card {
    width: 48%;
  }
}
.content .restaurants .wrapCards .card:hover {
  transform: scale(1.02);
}
@media (min-width: 1000px) {
  .content .restaurants .wrapCards {
    flex-direction: row;
  }
}

.menu01 header i {
  position: absolute;
  left: 5%;
  top: 23px;
  font-size: 1.3rem;
  transition: ease-in-out 0.2s;
}
.menu01 header i:hover {
  transform: scale(1.1);
}
.menu01 section {
  margin: 0;
}
.menu01 section img {
  height: 350px;
  width: 100%;
  object-fit: cover;
}
.menu01 .headMenu {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  position: relative;
  top: -55px;
  background-color: #e8edea;
  margin: 0 10%;
  padding: 20px;
  border-radius: 20px 20px 0 0;
}
.menu01 .headMenu .headTitle {
  display: flex;
  justify-content: space-between;
}
.menu01 .headMenu .headTitle i {
  position: relative;
  font-size: 2rem;
}
.menu01 .headMenu .headTitle .fa-solid {
  position: absolute;
  right: 0;
  margin-right: 20px;
  opacity: 0;
  color: transparent;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  transform: scale(1.1);
  background: radial-gradient(circle, #9356dc 0%, #ff79da 100%);
  -webkit-background-clip: text;
  background-clip: text;
}
.menu01 .headMenu .headTitle .fa-solid:hover {
  opacity: 1;
}
.menu01 .headMenu h1 {
  font-size: 1.5rem;
  margin-bottom: 30px;
}
.menu01 .headMenu button {
  font-weight: 700;
  padding: 10px;
  margin-top: 35px;
  border-radius: 20px;
  border: 0;
  width: 150px;
  align-self: center;
  transition: ease-in-out 0.2s;
  cursor: pointer;
  box-shadow: 0px 0px 10px -2px #000000;
  color: #fff;
  background: linear-gradient(to bottom, #ff79da 5%, #9356dc 100%);
}
.menu01 .headMenu button:hover {
  transform: scale(1.05);
}
.menu01 .headMenu .menuList {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: stretch;
  gap: 20px;
  justify-content: space-between;
  flex-direction: column;
}
@media (min-width: 1000px) {
  .menu01 .headMenu .menuList {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.menu01 .headMenu .menuList .menuWrap {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}
.menu01 .headMenu .menuList .menuWrap h2 {
  margin-bottom: 5px;
}
.menu01 .headMenu .menuList .menuWrap h2::after {
  content: "";
  display: block;
  width: 55px;
  border-bottom: 5px solid #92d8c7;
  padding-top: 2px;
}
.menu01 .headMenu .menuList .menuWrap .menuDesc {
  animation: 1s ease-in-out 0s 1 slide;
  animation-fill-mode: both;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 0px 10px -2px #000000;
  border-radius: 10px;
}
.menu01 .headMenu .menuList .menuWrap .menuDesc:nth-child(2) {
  animation-delay: 150ms;
}
.menu01 .headMenu .menuList .menuWrap .menuDesc:nth-child(3) {
  animation-delay: 300ms;
}
.menu01 .headMenu .menuList .menuWrap .menuDesc:nth-child(4) {
  animation-delay: 450ms;
}
@keyframes slide {
  0% {
    transform: translateY(-40%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}
.menu01 .headMenu .menuList .menuWrap .menuDesc .menuGroup {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 12px;
}
.menu01 .headMenu .menuList .menuWrap .menuDesc .menuGroup:hover + .menuSelection {
  margin-right: 0;
}
.menu01 .headMenu .menuList .menuWrap .menuDesc .menuGroup:hover + .menuSelection i {
  transform: rotate(0);
}
.menu01 .headMenu .menuList .menuWrap .menuDesc .menuGroup .menuText {
  overflow: hidden;
  width: -webkit-fill-available;
}
.menu01 .headMenu .menuList .menuWrap .menuDesc .menuGroup .menuText p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu01 .headMenu .menuList .menuWrap .menuDesc .menuGroup .menuText p:nth-of-type(1) {
  font-weight: bold;
}
.menu01 .headMenu .menuList .menuWrap .menuDesc .menuGroup .menuSpan {
  font-weight: bold;
  position: relative;
  top: 20px;
}
.menu01 .headMenu .menuList .menuWrap .menuDesc .menuSelection {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  transition: ease-in-out 0.3s;
  color: #fff;
  background-color: #88c9b8;
  width: 4rem;
  margin-right: -4rem;
  flex-shrink: 0;
  border-radius: 0 10px 10px 0;
}
.menu01 .headMenu .menuList .menuWrap .menuDesc .menuSelection i {
  transition: ease-in-out 0.3s;
  transform: rotate(-250deg);
}

.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: rgba(53, 53, 53, 0.6784313725);
  animation: load 2s forwards;
  animation-delay: 2s;
}
@keyframes load {
  0% {
    opacity: 100%;
  }
  90% {
    opacity: 0;
  }
  95% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
.loader .ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loader .ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #9356dc;
  border-radius: 50%;
  animation: ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #9356dc transparent transparent transparent;
}
.loader .ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.loader .ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.loader .ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
