@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

footer {
  background-color: #353535;
  color: #fff;
  margin-top: 20px;
  padding-bottom: 15px;
}
footer img,
footer .wrapFooterItems {
  margin: 0 10%;
}
footer img {
  padding: 15px 5px;
}
footer .wrapFooterItems {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .wrapFooterItems .footerItem {
  display: flex;
  align-items: center;
  gap: 5px;
  transform: translate(20px);
  width: fit-content;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
footer .wrapFooterItems .footerItem i {
  position: absolute;
  left: -25px;
  font-size: 0.9rem;
}
footer .wrapFooterItems .footerItem p {
  font-size: 0.9rem;
}
footer .wrapFooterItems .footerItem:hover {
  cursor: pointer;
  color: #ff79da;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header img {
  width: 150px;
  margin: 20px 0;
}
header .wrapCity {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  gap: 10px;
  width: 100%;
  padding: 10px 0;
  background-color: #e8edea;
  box-shadow: inset 0px 0px 12px -10px #000000;
}

.content {
  margin: 0 10%;
}
.content h2 {
  font-size: 1.25rem;
}
.content .headDescription {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.content .headDescription button {
  font-weight: 700;
  padding: 10px;
  border-radius: 20px;
  border: 0;
  transition: ease-in-out 0.2s;
  cursor: pointer;
  box-shadow: 0px 0px 10px -2px #000000;
  color: #fff;
  background: linear-gradient(to bottom, #ff79da 5%, #9356dc 100%);
}
.content .headDescription button:hover {
  transform: scale(1.05);
}
.content .headMenu {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.content .headMenu h2 {
  margin-bottom: 20px;
}
.content .headMenu .wrapMenuItems {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
}
.content .headMenu .wrapMenuItems .menuItem {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #e8edea;
  box-shadow: 0px 0px 10px -5px #000000;
  padding: 10px;
  border-radius: 15px;
}
.content .headMenu .wrapMenuItems .menuItem i,
.content .headMenu .wrapMenuItems .menuItem p {
  margin-left: 10px;
}
.content .headMenu .wrapMenuItems .menuItem span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356dc;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  left: -20px;
}
@media (min-width: 1000px) {
  .content .headMenu .wrapMenuItems {
    flex-direction: row;
  }
}
.content .restaurants {
  display: flex;
  flex-direction: column;
}
.content .restaurants h2 {
  margin-bottom: 20px;
}
.content .restaurants .wrapCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  gap: 5px;
}
.content .restaurants .wrapCards .card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 15px;
  background-color: #e8edea;
  box-shadow: 0px 0px 10px -5px #000000;
  transition: ease-in-out 0.3s;
}
.content .restaurants .wrapCards .card img {
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  height: 200px;
}
.content .restaurants .wrapCards .card .cardDescription {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px;
}
.content .restaurants .wrapCards .card .cardDescription .cardText {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.content .restaurants .wrapCards .card .cardDescription .cardText h3 {
  font-size: 1.1rem;
}
.content .restaurants .wrapCards .card .cardDescription .cardText p {
  font-size: 0.9rem;
}
.content .restaurants .wrapCards .card .cardDescription i {
  font-size: 2rem;
}
@media (min-width: 1000px) {
  .content .restaurants .wrapCards .card {
    width: 48%;
  }
}
.content .restaurants .wrapCards .card:hover {
  transform: scale(1.02);
}
@media (min-width: 1000px) {
  .content .restaurants .wrapCards {
    flex-direction: row;
  }
}

.menu01 header i {
  position: absolute;
  left: 5%;
  top: 23px;
  font-size: 1.3rem;
  transition: ease-in-out 0.2s;
}
.menu01 header i:hover {
  transform: scale(1.1);
}
.menu01 section {
  margin: 0;
}
.menu01 section img {
  height: 350px;
  width: 100%;
  object-fit: cover;
}
.menu01 .headMenu {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: -55px;
  background-color: #e8edea;
  margin: 0 10%;
  padding: 20px;
  border-radius: 20px 20px 0 0;
}
.menu01 .headMenu h1 {
  font-size: 1.5rem;
  align-self: flex-start;
  margin-bottom: 30px;
}
.menu01 .headMenu i {
  position: relative;
  left: 48%;
  bottom: 60px;
  font-size: 2rem;
}
.menu01 .headMenu button {
  font-weight: 700;
  padding: 10px;
  margin-top: 35px;
  border-radius: 20px;
  border: 0;
  width: 15%;
  transition: ease-in-out 0.2s;
  cursor: pointer;
  box-shadow: 0px 0px 10px -2px #000000;
  color: #fff;
  background: linear-gradient(to bottom, #ff79da 5%, #9356dc 100%);
}
.menu01 .headMenu button:hover {
  transform: scale(1.05);
}
.menu01 .headMenu .menuList {
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: space-between;
}
.menu01 .headMenu .menuList .menuWrap {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.menu01 .headMenu .menuList .menuWrap h2 {
  margin-bottom: 5px;
}
.menu01 .headMenu .menuList .menuWrap h2::after {
  content: "";
  display: block;
  width: 55px;
  border-bottom: 5px solid #92d8c7;
  padding-top: 2px;
}
.menu01 .headMenu .menuList .menuWrap .menuDesc {
  animation: 1s ease-in-out 0s 1 slide;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0px 0px 10px -2px #000000;
  padding: 12px;
  border-radius: 10px;
}
@keyframes slide {
  0% {
    transform: translateY(-40%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}
.menu01 .headMenu .menuList .menuWrap .menuDesc .menuText p:nth-of-type(1) {
  font-weight: bold;
}
.menu01 .headMenu .menuList .menuWrap .menuDesc .menuSpan {
  position: relative;
  top: 20px;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
